<div class="jumbotron" >
	<div class="overlay">
		<div class="container">
			<h1 class="top-text">Closet</h1>
			<p class="top-text">お持ちの洋服をどこでも見られる</p>
			<%= link_to 'Login', new_user_session_path, class:"btn btn-success btn-lg" %>
			<%= link_to 'Sign up', new_user_registration_path, class:"btn btn-primary btn-lg" %>
		</div>
	</div>
</div>