// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
	background-image: url('top.jpeg');
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

.overlay {
	background: linear-gradient(117.40757543781842deg, rgba(235, 187, 167,0.8) 17.395833333333332%,rgba(234, 187, 167,0.8) 17.395833333333332%,rgba(207, 199, 248,0.8) 65.61011904761905%);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: table;
}

.container {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.jumbotron .top-text  {
	color: white;
}